body {
    background-color: #d2d2c1;
    background-image: url('img/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
}

#principal {
    width: 900px;
}

#menu {
    background-color: #c5c5b2;
    padding: 18px;

}

#conteudo {
    background-color: #e8e8d9;
    padding: 10px;

}

#footer{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img {
    border: 5px solid #c3c3ae;
}

a {
    color: #4b56a4;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}