* {
    font-family: Arial, Helvetica, sans-serif;
}


/* Barra de navegação */ 
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    transition: 0.6s;
    color: red;
}

/* Choose us */
.h2-choose {
    text-align: center;
}

/* Testemonials */
.img-text {
    width: 70%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 40% 5%;
    background: #dc3545;
    color: #fff;
    border-radius: 15px;
    margin: 0 auto;
}

.img-text h2  {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px; 
}

.img-text p {
    margin-top: 20px;
    font-size: 14px;
}

.single-box {
    position: relative;
    margin-bottom: 30px;
}

.img-area {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    overflow: hidden;
    top: 15px;
    left: 170px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 15%;
}

.img-area img{
    width: 100%;
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
}



.carousel-indicators .active {
    background: #fff;
}


@media (max-width: 575.98px) {
    .car-home, 
    .car-services {
        width: 400px;
        
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .car-home,
    .car-services  {
        width: 400px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .car-home,
    .car-services  {
        width: 380px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
    .car-home,
    .car-services  {
        width: 440px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .car-home,
    .car-services  {
        width: 600px;
    }
}