@font-face {
    font-family: 'MADE INFINITY PERSONAL USE';
    src: url('MADEINFINITYPERSONALUSE-Medium.woff2') format('woff2'),
        url('MADEINFINITYPERSONALUSE-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE INFINITY PERSONAL USE';
    src: url('MADEINFINITYPERSONALUSE-Black.woff2') format('woff2'),
        url('MADEINFINITYPERSONALUSE-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE INFINITY PERSONAL USE';
    src: url('MADEINFINITYPERSONALUSE-Regular.woff2') format('woff2'),
        url('MADEINFINITYPERSONALUSE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE INFINITY PERSONAL USE';
    src: url('MADEINFINITYPERSONALUSE-Light.woff2') format('woff2'),
        url('MADEINFINITYPERSONALUSE-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE INFINITY PERSONAL USE';
    src: url('MADEINFINITYPERSONALUSE-Thin.woff2') format('woff2'),
        url('MADEINFINITYPERSONALUSE-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

